body{
    background-color: beige;
}
a{
    color: black;
    
}
.home{
    width: 100px;
    height: 100px;
    left: 95%;
    display: flex;
    align-items: center;
    position: relative;
    color: blue;
    
}

